body {
	font-size: 0.8em;
	font-family: arial, sans-serif;
}
h3 {
	color: dodgerblue;
	font-family: arial, sans-serif;
	text-align: center;
}
h1 {
	border-right: 24px;
	color: white;
	text-align: center;
	font-size: 5em;
background {
		border-bottom: 24px;
	 border-left: 24px;
	}
